*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;

  @media only screen and (max-width: $bp-largest) {
    font-size: 56.25%;
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }

}

body {
  box-sizing: border-box;

  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
  }
}

.page-container {
  position: relative;

  margin: 0 auto;
  max-width: 128rem;

  padding-bottom: 25rem;

  @media only screen and (max-width: $bp-medium) {
    padding-bottom: 0;
  }

}

.content-wrap {
  padding-bottom: 4rem;
}

.section {
  margin: 4rem 0;

  &__container {
    margin: 2rem 0;
  }

  a {
    text-decoration: none;
    color: $color-primary;
  }

}
