body {
  font-family: "PannoTextMedium", Arial, sans-serif;;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
  color: $color-grey-dark;
}

%heading {
  font-weight: 400;
}

h1 {
  @extend %heading;

  font-size: 4.5rem;
  color: $color-primary-dark;
  text-align: center;

  margin-bottom: 2rem;
}

h2 {
  @extend %heading;

  font-size: 3rem;
  color: $color-primary;

  margin-bottom: 1.5rem;
}

p {
  margin: 1rem 0;
}
